[run]
concurrency = multiprocessing
parallel = true
source=src/
omit =
    .cache/*
    */tests/*
    docs/*
    .pytest_cache/*
    setup.py
    pyproject.toml
    _version.py
    orko.egg-info/*
    .github/*

[paths]
source = src/
